*.log
# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Next.js build output
.next/
out/

# JetBrains IntelliJ’s project specific settings files
.idea/

dist/
eslint-remote-tester-results/*.md
