# Note: this is a shared pipeline used by other repositories.
# Docs: https://docs.github.com/en/actions/using-workflows/reusing-workflows

on:
  workflow_call:
    secrets:
      githubToken:
        required: true
    inputs:
      domain:
        type: string
        required: true
        description:
          "The root domain and path that will prefix all URLs (ex: 'https://www.the-guild.dev/graphql/codegen/')"
      source:
        type: string
        required: true
        description: "(ex: 'Code Generator')"
      lockFilePath:
        type: string
        required: false
        default: algolia-lockfile.json
        description: Relative path from `website/` to the Algolia lockfile
      docsBaseDir:
        type: string
        required: false
        default: ./src/pages/
        description: Relative path from `website/` to nextra markdown pages root folder
      nodeVersion:
        required: false
        type: number
        default: 18
      websiteDirectory:
        required: false
        type: string
        default: ./website/
      packageManager:
        description: Package Manager
        required: false
        type: string
        default: yarn
      packageManagerVersion:
        description: Package manager version
        required: false
        type: string
        default: ''
      setupEnvWorkingDirectory:
        description: workingDirectory for `setup-env` action
        required: false
        type: string
        default: .

jobs:
  algolia-records-check:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch
        run: git fetch origin ${{ github.base_ref }}

      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          packageManagerVersion: ${{inputs.packageManagerVersion}}
          workingDirectory: ${{ inputs.setupEnvWorkingDirectory }}

      - name: Algolia generate
        if: inputs.packageManager != 'pnpm'
        run:
          ${{ inputs.packageManager }} run theguild-nextra-algolia -o ${{ inputs.lockFilePath }}
          --source '${{ inputs.source }}' --domain ${{ inputs.domain }} --docsBaseDir ${{
          inputs.docsBaseDir }}
        working-directory: ${{ inputs.websiteDirectory }}

      - name: Algolia generate
        if: inputs.packageManager == 'pnpm'
        run:
          pnpm --filter ${{ inputs.websiteDirectory }} run theguild-nextra-algolia -o ${{
          inputs.lockFilePath }} --source '${{ inputs.source }}' --domain ${{ inputs.domain }}
          --docsBaseDir ${{ inputs.docsBaseDir }}
        working-directory: ${{ inputs.setupEnvWorkingDirectory }}

      - name: Prettier
        run: npx prettier --write website/${{ inputs.lockFilePath }}

      - name: Diff to file
        if: always()
        id: diff_result
        run: |
          echo "result<<EOF" >> $GITHUB_OUTPUT
          echo "$(git diff origin/${{ github.base_ref }} ${{ inputs.websiteDirectory }}${{ inputs.lockFilePath }})" >> $GITHUB_OUTPUT
          echo EOF >> $GITHUB_OUTPUT

      - name: Publish a message
        if: always() && contains(steps.diff_result.outputs.result, 'diff')
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            ```diff
            ${{ steps.diff_result.outputs.result }}
            ```
        env:
          GITHUB_TOKEN: ${{ secrets.githubToken }}
