# Note: this is a shared pipeline used by other repositories.
# Docs: https://docs.github.com/en/actions/using-workflows/reusing-workflows

on:
  workflow_call:
    secrets:
      githubToken:
        required: true
      algoliaAppId:
        required: true
      algoliaAdminApiKey:
        required: true
      algoliaIndexName:
        required: true
    inputs:
      source:
        type: string
        required: true
        description: "(ex: 'Code Generator')"
      domain:
        type: string
        required: true
        description:
          "The root domain and path that will prefix all URLs (ex:
          'https://www.the-guild.dev/graphql/codegen/')"
      lockFilePath:
        type: string
        required: false
        default: 'algolia-lockfile.json'
        description: 'Relative path from `website/` to the Algolia lockfile'
      docsBaseDir:
        type: string
        required: false
        default: './src/pages/'
        description: 'Relative path from `website/` to nextra markdown pages root folder'
      nodeVersion:
        required: false
        type: number
        default: 18
      websiteDirectory:
        required: false
        type: string
        default: './website/'
      packageManager:
        type: string
        description: Package manager
        required: false
        default: yarn
      setupEnvWorkingDirectory:
        description: 'workingDirectory for `setup-env` action'
        required: false
        type: string
        default: '.'
      skipCommitLockFile:
        description: 'Prevent committing lockfile'
        required: false
        type: boolean
        default: false

jobs:
  algolia-push-records:
    name: Push new records if changes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          workingDirectory: ${{ inputs.setupEnvWorkingDirectory }}

      - name: Algolia push
        run:
          ${{ inputs.packageManager }} run theguild-nextra-algolia --publish -o ${{
          inputs.lockFilePath }} --source '${{ inputs.source }}' --domain ${{ inputs.domain }}
          --docsBaseDir ${{ inputs.docsBaseDir }}
        working-directory: ${{ inputs.websiteDirectory }}
        env:
          ALGOLIA_APP_ID: ${{ secrets.algoliaAppId }}
          ALGOLIA_ADMIN_API_KEY: ${{ secrets.algoliaAdminApiKey }}
          ALGOLIA_INDEX_NAME: ${{ secrets.algoliaIndexName}}

      - name: Diff to file
        if: always()
        id: diff_result
        run: |
          OUTPUT=$(git diff ${{ inputs.websiteDirectory }}${{ inputs.lockFilePath }})
          OUTPUT="${OUTPUT//'%'/'%25'}"
          OUTPUT="${OUTPUT//$'\n'/'%0A'}"
          OUTPUT="${OUTPUT//$'\r'/'%0D'}"
          echo "::set-output name=result::$OUTPUT"

      - name: Commit algolia-lockfile.json
        if: ${{ !inputs.skipCommitLockFile && contains(steps.diff_result.outputs.result, 'diff') }}
        uses: EndBug/add-and-commit@v9
        with:
          commit: '${{ inputs.websiteDirectory }}${{ inputs.lockFilePath }}'
          message: Update algolia-lockfile.json
          default_author: github_actions
        env:
          GITHUB_TOKEN: ${{ secrets.githubToken }}
