# Note: this is a shared pipeline used by other repositories.
# Docs: https://docs.github.com/en/actions/using-workflows/reusing-workflows

on:
  workflow_call:
    inputs:
      installDependencies:
        type: boolean
        default: false
      packageManager:
        type: string
        required: false
        default: yarn
      nodeVersion:
        required: false
        type: number
        default: 18
    secrets:
      githubToken:
        required: true

jobs:
  changeset:
    runs-on: ubuntu-22.04
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.githubToken }}

      - uses: the-guild-org/shared-config/setup@main
        name: setup env and install dependencies
        if: ${{ inputs.installDependencies }}}
        with:
          nodeVersion: ${{ inputs.nodeVersion }}
          packageManager: ${{ inputs.packageManager }}

      - name: Create/Update Changesets
        uses: the-guild-org/changesets-dependencies-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.githubToken }}
