# Note: this is a shared pipeline used by other repositories.
# Docs: https://docs.github.com/en/actions/using-workflows/reusing-workflows

on:
  workflow_call:
    inputs:
      script:
        required: true
        type: string
      nodeVersions:
        required: true
        type: string
        default: '[18]'

jobs:
  ci_setup:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.setVariables.outputs.matrix }}
    steps:
      - id: setVariables
        run: echo "matrix=$input" >> $GITHUB_OUTPUT
        env:
          input: ${{ inputs.nodeVersions }}

  ci:
    needs: ci_setup
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        nodeVersion: ${{fromJson(needs.ci_setup.outputs.matrix)}}
      fail-fast: false
    name: nodejs v${{ matrix.nodeVersion }}
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: the-guild-org/shared-config/setup@v1
        name: set up env
        with:
          node-version: ${{matrix.nodeVersion }}

      - name: ${{ inputs.script }}
        run: ${{ inputs.script }}
