# Note: this is a shared pipeline used by other repositories.
# Docs: https://docs.github.com/en/actions/using-workflows/reusing-workflows

on:
  workflow_call:
    inputs:
      nodeVersion:
        required: false
        type: string
        default: '18'
      script:
        required: true
        type: string
      name:
        required: false
        type: string
      packageManager:
        type: string
        required: false
        default: yarn
      packageManagerVersion:
        type: string
        description: Package manager version
        required: false
        default: ''
jobs:
  ci:
    runs-on: ubuntu-22.04
    name: ${{ inputs.name || 'script' }}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: the-guild-org/shared-config/setup@main
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          packageManagerVersion: ${{inputs.packageManagerVersion}}

      - name: ${{ inputs.script }}
        run: ${{ inputs.script }}
