# Note: this is a shared pipeline used by other repositories.
# Docs: https://docs.github.com/en/actions/using-workflows/reusing-workflows

on:
  workflow_call:
    inputs:
      packageManager:
        type: string
        required: false
        default: yarn
      nodeVersion:
        required: false
        type: number
        default: 18
      releaseScript:
        required: false
        type: string
        default: release
      createGithubReleases:
        required: false
        type: string
        default: aggregate
      githubReleaseName:
        required: false
        type: string
      githubReleaseAssets:
        required: false
        type: string
      releasePrName:
        required: false
        type: string
        default: Upcoming Release Changes
    secrets:
      githubToken:
        required: true
      npmToken:
        required: true

jobs:
  publish:
    runs-on: ubuntu-22.04
    outputs:
      published: ${{ steps.changesets.outputs.published }}
      publishedPackages: ${{ steps.changesets.outputs.publishedPackages }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.githubToken }}

      - uses: the-guild-org/shared-config/setup@main
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}

      - name: set version variables
        id: vars
        shell: bash
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "date=$(date +"%B %d, %Y")" >> $GITHUB_OUTPUT

      - name: release / pull_request
        id: changesets
        uses: dotansimha/changesets-action@v1.4.0
        with:
          publish: '${{inputs.packageManager}} ${{ inputs.releaseScript }}'
          version: '${{inputs.packageManager}} changeset version'
          commit: 'chore(release): update monorepo packages versions'
          title: ${{inputs.releasePrName}}
          createGithubReleases: ${{ inputs.createGithubReleases }}
          githubReleaseName: ${{ inputs.githubReleaseName || steps.vars.outputs.date }}
          githubReleaseAssets: ${{ inputs.githubReleaseAssets || steps.vars.outputs.date }}
        env:
          NPM_TOKEN: ${{ secrets.npmToken }}
          GITHUB_TOKEN: ${{ secrets.githubToken }}
