# Note: this pipelines is for the `shared-config` library

name: release
on:
  push:
    branches:
      - main

jobs:
  stable:
    uses: ./.github/workflows/release-stable.yml
    with:
      releaseScript: release
      nodeVersion: 18
      packageManager: pnpm
      packageManagerVersion: 9
    secrets:
      githubToken: ${{ secrets.GUILD_BOT_TOKEN }}
      npmToken: ${{ secrets.NPM_TOKEN }}
