# Note: this is a shared pipeline used by other repositories.
# Docs: https://docs.github.com/en/actions/using-workflows/reusing-workflows

on:
  workflow_call:
    inputs:
      packageManager:
        type: string
        required: false
        default: yarn
      packageManagerVersion:
        type: string
        description: Package manager version
        required: false
        default: ''
      nodeVersion:
        required: false
        type: string
        default: '22'
      releaseScript:
        required: false
        type: string
        default: release
      versionScript:
        required: false
        type: string
        default: changeset version
      createGithubReleases:
        required: false
        type: string
        default: aggregate
      githubReleaseName:
        required: false
        type: string
      releasePrName:
        required: false
        type: string
        default: Upcoming Release Changes
    secrets:
      githubToken:
        required: true
      npmToken:
        required: true
    outputs:
      published:
        description: A boolean value to indicate whether a publishing is happened or not
        value: ${{ jobs.publish.outputs.published }}
      publishedPackages:
        description:
          'A JSON array to present the published packages. The format is [{"name": "@xx/xx",
          "version": "1.2.0"}, {"name": "@xx/xy", "version": "0.8.9"}]'
        value: ${{ jobs.publish.outputs.publishedPackages }}

jobs:
  publish:
    runs-on: ubuntu-24.04
    outputs:
      published: ${{ steps.changesets.outputs.published }}
      publishedPackages: ${{ steps.changesets.outputs.publishedPackages }}
    steps:
      - name: checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          token: ${{ secrets.githubToken }}

      - uses: the-guild-org/shared-config/setup@main
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          packageManagerVersion: ${{inputs.packageManagerVersion}}

      - name: set version variables
        id: vars
        shell: bash
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "date=$(date +"%B %d, %Y")" >> $GITHUB_OUTPUT

      - name: release / pull_request
        id: changesets
        uses: dotansimha/changesets-action@v1.5.2
        with:
          publish: '${{inputs.packageManager}} ${{ inputs.releaseScript }}'
          version: '${{inputs.packageManager}} ${{inputs.versionScript}}'
          commit: 'chore(release): update monorepo packages versions'
          title: ${{inputs.releasePrName}}
          createGithubReleases: ${{ inputs.createGithubReleases }}
          githubReleaseName: ${{ inputs.githubReleaseName || steps.vars.outputs.date }}
        env:
          NPM_TOKEN: ${{ secrets.npmToken }}
          GITHUB_TOKEN: ${{ secrets.githubToken }}
