# Note: this is a shared pipeline used by other repositories. 
# Docs: https://docs.github.com/en/actions/using-workflows/reusing-workflows

on:
  workflow_call:
    inputs:
      nodeVersion:
        required: false
        type: number
        default: 18
      buildScript:
        required: false
        type: string
        default: build
      npmTag:
        required: false
        type: string
        default: npmTag
    secrets:
      githubToken:
        required: true
      npmToken:
        required: true

jobs:
  snapshot:
  
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository
    outputs:
      published: ${{ steps.changesets.outputs.published }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: the-guild-org/shared-config/setup@main
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}

      - name: ${{ inputs.npmTag }} release
        id: changesets
        uses: 'the-guild-org/changesets-snapshot-action@v0.0.1'
        with:
          tag: ${{ inputs.npmTag }}
          prepareScript: 'yarn ${{ inputs.buildScript }}'
        env:
          NPM_TOKEN: ${{ secrets.npmToken }}
          GITHUB_TOKEN: ${{ secrets.githubToken }}